# App
dist
dw.configs.json
dw.configs.json.default
dw.json

# node.js
node_modules

# IDE
.jshintrc
.vscode/forms.d.ts

# Static Files
cartridges/app_configurator_3d/cartridge/static/default/css
cartridges/app_configurator_3d/cartridge/static/default/js
cartridges/app_configurator_3d/cartridge/static/default/images

# Others
lurch
app_experiment
assets_experiment
*.zip
.cpuprofile

# Mac
.DS_Store

# Windows
Thumbs.db
**:Zone.Identifier
